In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.8/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Read in the Excel file for 2017-18 Pharr SJ and replace any * or - values with NaN.
DP17 = pd.read_excel('DeerPark-17.xlsx').replace(['*','-'],'NaN')

# Change all numerical columns to float (the *s were 'objects' and math with NaN values can be handled if they're floats).
for column in DP17:
    if column != 'Test' and column != 'Level' and column != 'District':
        DP17[column] = DP17[column].astype(float)

# Rename some of the columns to make them easier to read.
DP17 = DP17.rename(columns={'African\nAmerican':'Afr Am','American\nIndian':'Am Ind','Pacific\nIslander':'Pac Isl',
                                'Two or\nMore\nRaces':'2+ Race','Special\nEd':'Spec Ed','Econ\nDisadv':'Econ Disad'})

# Split the dataframe into 'labels' and 'numbers', convert the numbers to represent only the percentage in each category.
# Originally, the percentages in the spreadsheets represent the students that hit that level *or above*.
work = DP17.drop(DP17.columns[[0,1,2,3,4]], axis=1)
info = DP17.drop(DP17.columns[[5,6,7,8,9,10,11,12,13,14,15]], axis=1)
for row in range(24):
    if ((row-2)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]
    elif ((row+4)%8) == 0:
        work.loc[row] = work.loc[row] - work.loc[row+2]

# Rejoin the info with the numbers to make one dataframe, sorted by year.
# Once everyone's done, we'll concatenate these into one dataframe, sorted by district, then year, then grade level.
DP17 = info.join(work).sort_values(by=['Year','Grade'],ascending=True).reset_index(drop=True)
DP17

,District,Year,Grade,Test,Level,State,All,Afr Am,Hispanic,White,Am Ind,Asian,Pac Isl,2+ Race,Spec Ed,Econ Disad
0,Deer Park,2017.0,3.0,Reading,Not Approaching Grade Level,27.0,21.0,NaN,24.0,15.0,NaN,NaN,NaN,NaN,44.0,30.0
1,Deer Park,2017.0,3.0,Reading,Approaches Grade Level,73.0,79.0,NaN,76.0,85.0,NaN,NaN,NaN,NaN,56.0,70.0
2,Deer Park,2017.0,3.0,Reading,Meets Grade Level,22.0,31.0,NaN,23.0,46.0,NaN,NaN,NaN,NaN,-10.0,13.0
3,Deer Park,2017.0,3.0,Reading,Masters Grade Level,29.0,30.0,NaN,27.0,38.0,NaN,NaN,NaN,NaN,10.0,21.0
4,Deer Park,2017.0,3.0,Mathematics,Not Approaching Grade Level,-26.0,-38.0,NaN,-29.0,-52.0,NaN,NaN,NaN,NaN,1.0,-22.0
5,Deer Park,2017.0,3.0,Mathematics,Approaches Grade Level,77.0,84.0,NaN,81.0,89.0,NaN,NaN,NaN,NaN,64.0,78.0
6,Deer Park,2017.0,3.0,Mathematics,Meets Grade Level,49.0,54.0,NaN,48.0,63.0,NaN,NaN,NaN,NaN,35.0,44.0
7,Deer Park,2017.0,3.0,Mathematics,Masters Grade Level,26.0,29.0,NaN,25.0,38.0,NaN,NaN,NaN,NaN,23.0,21.0
8,Deer Park,2017.0,6.0,Reading,Not Approaching Grade Level,31.0,28.0,NaN,33.0,20.0,NaN,NaN,NaN,NaN,71.0,37.0
9,Deer Park,2017.0,6.0,Reading,Approaches Grade Level,69.0,72.0,NaN,67.0,80.0,NaN,NaN,NaN,NaN,29.0,63.0
10,Deer Park,2017.0,6.0,Reading,Meets Grade Level,13.0,18.0,NaN,7.0,40.0,NaN,NaN,NaN,NaN,-25.0,0.0
11,Deer Park,2017.0,6.0,Reading,Masters Grade Level,18.0,15.0,NaN,10.0,24.0,NaN,NaN,NaN,NaN,8.0,10.0
12,Deer Park,2017.0,6.0,Mathematics,Not Approaching Grade Level,-19.0,-27.0,NaN,-14.0,-48.0,NaN,-86.0,NaN,NaN,23.0,-5.0
13,Deer Park,2017.0,6.0,Mathematics,Approaches Grade Level,76.0,81.0,NaN,77.0,88.0,NaN,100.0,NaN,NaN,55.0,72.0
14,Deer Park,2017.0,6.0,Mathematics,Meets Grade Level,43.0,46.0,NaN,37.0,60.0,NaN,86.0,NaN,NaN,22.0,33.0
15,Deer Park,2017.0,6.0,Mathematics,Masters Grade Level,18.0,18.0,NaN,13.0,25.0,NaN,71.0,NaN,NaN,8.0,12.0
16,Deer Park,2017.0,9.0,English I,Not Approaching Grade Level,36.0,29.0,NaN,33.0,23.0,NaN,5.0,NaN,NaN,NaN,38.0
17,Deer Park,2017.0,9.0,English I,Approaches Grade Level,64.0,71.0,NaN,67.0,77.0,NaN,95.0,NaN,NaN,NaN,62.0
18,Deer Park,2017.0,9.0,English I,Meets Grade Level,26.0,41.0,NaN,35.0,52.0,NaN,86.0,NaN,NaN,NaN,25.0
19,Deer Park,2017.0,9.0,Algebra I,Masters Grade Level,8.0,6.0,NaN,4.0,10.0,NaN,32.0,NaN,NaN,NaN,2.0
20,Deer Park,2017.0,9.0,Algebra I,Not Approaching Grade Level,-31.0,-54.0,NaN,-49.0,-62.0,NaN,-87.0,NaN,-81.0,20.0,-41.0
21,Deer Park,2017.0,9.0,Algebra I,Approaches Grade Level,83.0,92.0,NaN,91.0,93.0,NaN,100.0,NaN,95.0,64.0,88.0
22,Deer Park,2017.0,9.0,Algebra I,Meets Grade Level,48.0,62.0,NaN,58.0,69.0,NaN,87.0,NaN,86.0,16.0,53.0
23,Deer Park,2017.0,9.0,Algebra I,Masters Grade Level,26.0,39.0,NaN,35.0,45.0,NaN,80.0,NaN,52.0,6.0,29.0